PANDA SERIES:
A PANDA SERIES IS LIKE A COLOUMN IN A TABLE.IT IS A1-D ARRAY HOLDING DATA OF NAY TYPE.

In [30]:
import numpy as np
import pandas as pd
import numpy as greek

In [4]:
#string
country=['india','oakistan','usa','nepal','srilanka']
pd.Series(country)

0       india
1    oakistan
2         usa
3       nepal
4    srilanka
dtype: object

In [20]:
runs=[13,24,56,75,100]

pd.Series(runs)

0     13
1     24
2     56
3     75
4    100
dtype: int64

In [45]:
runs=[13,24,56,75,100]

run_ser=pd.Series(runs)

In [28]:
marks=[67,57,89,100]
subjects=['maths','statistics','englisgh','science']
pd.Series(marks,index=subjects)

maths          67
statistics     57
englisgh       89
science       100
dtype: int64

In [31]:
marks=pd.Series(marks,index=subjects,name='nitish ke marks')
marks

maths          67
statistics     57
englisgh       89
science       100
Name: nitish ke marks, dtype: int64

In [ ]:
SERIES FROM LIST

In [33]:
marks={
    'maths':67,
    'english': 57,
'science':89,
'hindi':100}

marks_series = pd.Series(marks,name='nitish ke marks')   # an object of series class is made- Marks. i.e. it can access all the methods in it.

marks_series

maths       67
english     57
science     89
hindi      100
Name: nitish ke marks, dtype: int64

In [35]:
# SIZE
marks_series

maths       67
english     57
science     89
hindi      100
Name: nitish ke marks, dtype: int64

In [37]:
marks_series.size

4

In [38]:
#dtype

marks_series.dtype

dtype('int64')

In [40]:
#name

marks_series.name

'nitish ke marks'

In [43]:
#is_unique
marks_series.is_unique   # checks wether there is any repeating elements in the dataset
pd.Series([1,1,2,3,4,5]).is_unique

False

In [44]:
#INDEX
marks_series.index  # the index values are stored

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [46]:
run_ser.index

RangeIndex(start=0, stop=5, step=1)

In [47]:
type(run_ser.index)
# this generates index values in a given range

pandas.core.indexes.range.RangeIndex

In [48]:
#values
marks_series.values

array([ 67,  57,  89, 100], dtype=int64)

In [10]:
# SERIES USING READ_CSV
import pandas as pd

cac=pd.read_csv('kohli_ipl.csv')
cac

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [11]:
# SERIES USING READ_CSV

t=type(pd.read_csv("kohli_ipl.csv"))
t

pandas.core.frame.DataFrame

In [32]:
pd.read_csv('bollywood.csv',index_col='match no',squeeze=True)

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [24]:
pd.read_csv("bollywood.csv",index_col="movie",squeeze=True)

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [23]:
subs=pd.read_csv("kohli_ipl.csv")
subs

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [26]:
subs.head

<bound method NDFrame.head of      match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]>

In [27]:
subs.head(3)

   match_no  runs
0         1     1
1         2    23
2         3    13

In [28]:
subs.tail()

     match_no  runs
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

In [ ]:
# sample extracts out a random  row from a dataset
movies.sample()

movie
good boy 
and Bad Boy, Sukanna update_display